@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-padding-top: 5.5rem;
  overscroll-behavior: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  width: 100%;
  height: 100%;
}

/* UTILITY */
hr {
  background-color: white;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* NAVBAR */
.navbar {
  background-color: #fff !important;
}

/* BANNER */
#banner {
  width: 100%;
  height: 100%;
  margin-top: 5.54rem;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../img/nigiri.jpg") no-repeat fixed top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo-main {
  width: 50rem;
  max-width: 100%;
  height: auto;
}

/* DIVIDER */
.divider {
  background-color: #f1f3f5;
}

/* ABOUT */
#about {
  border-bottom: 0.5rem solid black;
}

#about img {
  object-fit: cover;
}

.mission {
  display: block;
  width: 100%;
  color: white;
  background-color: black;
}

.mission h2 {
  letter-spacing: 0.6rem;
}

/* BOOKING */
#booking {
  min-width: 100%;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/omakase.png") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 10px 10px 10px #000;
}

/* FOOTER */
footer {
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

#contact {
  padding: 6rem 0;
  font-size: 0.5rem;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  #intro {
    height: 600px;
    width: 100vw;
  }
}
